@page "/displacement-results"

<PageTitle>Displacement Results</PageTitle>

@* <h3 class="top20">@title</h3>

<p>The following table has all logged engine torque calculation results</p> *@

<ReportHeader Title="@title">
    <p>The following table has all logged engine displacement calculation results</p>
</ReportHeader>

<DisplacementDataGrid></DisplacementDataGrid>
