@page "/torque-results"

<PageTitle>Torque Results</PageTitle>

@* <h3 class="top20">@title</h3> *@



<ReportHeader Title="@title">
    <p>The following table has all logged engine torque calculation results</p>
</ReportHeader>

<TorqueDataGrid></TorqueDataGrid>