@page "/counter"
@rendermode InteractiveAuto
@inject RenderModes.RenderModeProvider renderModeProvider

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div class="alert-info">@renderMode</div>

<p role="status">Current count: @currentCount</p>

@if (renderMode == RenderModes.RenderMode.ServerInteractive ||
     renderMode == RenderModes.RenderMode.WebAssemblyInteractive)
{
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}

@code {
    private int currentCount = 0;
    private RenderModes.RenderMode renderMode = RenderModes.RenderMode.Unknown;

    protected override void OnInitialized()
    {
        renderMode = renderModeProvider.GetRenderMode(this);
    }

    // protected override void OnAfterRender(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         var isBrowser = OperatingSystem.IsBrowser();
    //         if (isBrowser)
    //             renderMode = RenderModes.RenderMode.WebAssemblyInteractive;
    //         else
    //             renderMode = RenderModes.RenderMode.ServerInteractive;
    //         StateHasChanged();
    //     }
    // }

    private void IncrementCount()
    {
        currentCount++;
    }
}
