@page "/"
@inject ActiveCircuitState activeCircuitState

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="alert-info">@renderMode</div>

Welcome to your new app.

@code
{
    private string renderMode = "unknown";

    protected override void OnInitialized()
    {
        var isBrowser = OperatingSystem.IsBrowser();
        if (isBrowser)
            renderMode = "wasm-interactive";
        else if (activeCircuitState.CircuitExists)
            renderMode = "server-interactive";
        else if (this.GetType().GetCustomAttributes(typeof(StreamRenderingAttribute), true).Length > 0)
            renderMode = "server-static (streaming)";
        else
            renderMode = "server-static";
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var isBrowser = OperatingSystem.IsBrowser();
            if (isBrowser)
                renderMode = "wasm-interactive";
            else
                renderMode = "server-interactive";
            StateHasChanged();
        }
    }
}