@page "/sequence-mvvm"
@inject SequenceViewModel ViewModel
@implements IDisposable

<h1>Sequence - MVVM</h1>

<Geolocation />

<input type="text" @bind="this.ViewModel.Value" />
<button class="btn btn-primary" @onclick="this.ViewModel.CreateSequenceAsync">Create Sequence</button>
<p>Current sequence: @this.ViewModel.CurrentSequence</p>

<canvas @ref=@this.ViewModel.ChartReference width="800" height="600"></canvas>

@code {
    protected override void OnInitialized() =>
        this.ViewModel.Changed += this.OnChange;

    public void Dispose() =>
        this.ViewModel.Changed -= this.OnChange;

    private void OnChange(object? sender, EventArgs args) => this.StateHasChanged();
}