@page "/engine/calculate-displacement"
@*@page "/engine/calculate-displacement/{Id:int}"*@

<PageTitle>Calculate Engine Displacement</PageTitle>

<h3 class="top20">@title</h3>

<DisplacementCalculation></DisplacementCalculation>